<div class="page-header" id="banner">
  <div class="row">
    <div class="col">
      <h1><a routerLink="/fleet">Fleet</a> > Add vehicle</h1>
    </div>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="year">Year</label>
    <select class="form-control form-control-lg" id="year" name="year" (change)="yearSelected()" [(ngModel)]="year">
      <option *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="make">Make</label>
    <select class="form-control form-control-lg" id="make" name="make" (change)="makeSelected()" [(ngModel)]="make" [disabled]="!makes">
      <option *ngFor="let make of makes" [ngValue]="make">{{make.make_display}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select class="form-control form-control-lg" id="model" name="model" (change)="modelSelected()" [(ngModel)]="model" [disabled]="!models">
      <option *ngFor="let model of models" [value]="model">{{model}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control form-control-lg" [class.is-invalid]="nameField.invalid && (nameField.dirty || nameField.touched)" 
    id="name" name="name" [(ngModel)]="name" [disabled]="!model" required #nameField="ngModel">
    <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="invalid-feedback">
      <div *ngIf="nameField.errors.required">Please enter a name for the vehicle.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="mileage">Mileage</label>
    <input type="number" class="form-control form-control-lg" id="mileage" name="mileage" [(ngModel)]="mileage" placeholder="123456">
  </div>
  <button class="btn btn-primary" (click)="add()" [disabled]="name == ''">Submit</button>
  <a class="btn" routerLink="/fleet">Cancel</a>
</form>