<div class="page-header" id="banner">
  <div class="row">
    <div class="col">
      <h1>Add vehicle</h1>
    </div>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Year</label>
    <select class="form-control form-control-lg" id="exampleFormControlSelect1">
      <option></option>
      <option *ngFor="let year of years">{{year}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Make</label>
    <select class="form-control form-control-lg" id="exampleFormControlSelect1" disabled>
      <option></option>
      <option>Chevrolet</option>
      <option>Ford</option>
      <option>Mitsubishi</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Model</label>
    <select class="form-control form-control-lg" id="exampleFormControlSelect1" disabled>
      <option></option>
      <option>Thingy</option>
      <option>Thingy SS</option>
      <option>Other Thingy</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="..." disabled>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>