<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Maintenance Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/fleet">Fleet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
    <button class="btn btn-secondary" type="submit">
      <i class="fa fa-sign-out"></i>
    </button>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

  <footer id="footer">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled">
          <li class="float-lg-right"><a href="javascript:void(0);" onclick="window.scrollTo(0,0)">Back to top</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </div>
    </div>
  
  </footer>
</div>





