<div class="page-header" id="banner">
  <div class="row">
    <div class="col">
      <h1><a routerLink="/fleet">Fleet</a> > {{vehicle?.name}}</h1>
    </div>
  </div>
</div>

<a routerLink="/recordMaintenance/{{vehicle?.id}}">
    <button class="btn btn-primary">
      <i class="fa fa-plus"></i>
    </button>
  </a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Mileage</th>
      <th>Date</th>
      <th>Maintenance</th>
      <th class="fit">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let maintenance of allMaintenance">
      <td>{{maintenance.mileage}}</td>
      <td>{{maintenance.date}}</td>
      <td>{{maintenance.item}}</td>
      <td class="fit">
        <div class="btn-group">
          <button class="btn btn-secondary">
            <i class="fa fa-edit"></i>   
          </button>
          <button class="btn btn-secondary">
            <i class="fa fa-trash"></i>   
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink="/recordMaintenance">
  <button class="btn btn-primary">
    <i class="fa fa-plus"></i>
  </button>
</a>