<div class="page-header" id="banner">
  <div class="row">
    <div class="col">
      <h1><a routerLink="/fleet">Fleet</a> > {{vehicleMaintenance?.name}}</h1>
    </div>
  </div>
</div>

<a routerLink="/recordMaintenance/{{vehicleMaintenance?.id}}">
    <button class="btn btn-primary">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Mileage</th>
      <th>Date</th>
      <th>Maintenance</th>
      <th class="fit">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let maintenance of vehicleMaintenance?.maintenance">
      <td>{{maintenance.mileage | number}}</td>
      <td>{{maintenance.date | date}}</td>
      <td>{{maintenance.item}}</td>
      <td class="fit">
        <div class="btn-group">
          <button class="btn btn-secondary" [disabled]="!maintenance.receipt" (click)="downloadReceipt(maintenance.receipt)">
            <fa-icon icon="receipt"></fa-icon>
          </button>
          <button class="btn btn-secondary" placement="bottom" [ngbPopover]="maintenance.notes" popoverTitle="Notes" [autoClose]="'outside'" [disabled]="!maintenance.notes">
            <fa-icon icon="sticky-note"></fa-icon>
          </button>
          <button class="btn btn-secondary" disabled>
            <fa-icon icon="edit"></fa-icon>
          </button>
          <button class="btn btn-secondary" (click)="delete(maintenance.id)">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
    <td *ngIf="vehicleMaintenance?.maintenance.length == 0">There is currently no recorded maintenance for this vehicle. Click one of the plus (+) buttons to add some!</td>
  </tbody>
</table>

<a routerLink="/recordMaintenance/{{vehicleMaintenance?.id}}">
  <button class="btn btn-primary">
    <fa-icon icon="plus"></fa-icon>
  </button>
</a>