<div class="page-header" id="banner">
    <div class="row">
      <div class="col">
        <h1><a routerLink="/fleet">Fleet</a> > <a routerLink="/vehicle/{{vehicle?.id}}">{{vehicle?.name}}</a> > Record maintenance</h1>
      </div>
    </div>
  </div>
  
  <form>
    <div class="form-group">
      <label for="itemInput">Item</label>
      <input type="text" class="form-control form-control-lg" id="itemInput" name="itemInput" [(ngModel)]="maintenance.item" placeholder="Oil + filter">
    </div>
    <div class="form-group">
      <label for="mileageInput">Mileage</label>
      <input type="text" class="form-control form-control-lg" id="mileageInput" name="mileageInput" [(ngModel)]="maintenance.mileage" placeholder="102114">
    </div>
    <div class="form-group">
      <label for="dateInput">Date</label>
      <input type="text" class="form-control form-control-lg" id="dateInput" name="dateInput" [(ngModel)]="maintenance.date" placeholder="2/4/92">
    </div>
    <div class="form-group">
      <label for="notesInput">Notes</label>
      <textarea class="form-control form-control-lg" id="notesInput" name="notesInput" [(ngModel)]="maintenance.notes" rows="3"></textarea>
    </div>
    <button (click)="add()" class="btn btn-primary">Submit</button>
    <button (click)="addAndContinue()" class="btn ">Submit, and record more</button>
    <a routerLink="/vehicle/{{vehicle?.id}}" class="btn">Cancel</a>
  </form>