<div class="page-header" id="banner">
    <div class="row">
      <div class="col">
        <h1><a routerLink="/fleet">Fleet</a> > <a routerLink="/vehicle/{{vehicle?.id}}">{{vehicle?.name}}</a> > Record maintenance</h1>
      </div>
    </div>
  </div>
  
  <form>
    <div class="form-group">
      <label for="item">Item*</label>
      <input type="text" class="form-control form-control-lg" [class.is-invalid]="item.invalid && (item.dirty || item.touched)" 
        id="item" name="item" [(ngModel)]="maintenance.item" required maxlength="200" #item="ngModel" placeholder="Oil + filter">
      <div *ngIf="item.invalid && (item.dirty || item.touched)" class="invalid-feedback">
        <div *ngIf="item.errors.required">Please enter a maintenance item, for example "Replaced retro-encabulator".</div>
        <div *ngIf="item.errors.maxlength">Please keep the item name brief. The Notes section below can hold more detail.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="mileage">Mileage*</label>
      <div class="input-group">
        <input type="number" class="form-control form-control-lg" [class.is-invalid]="mileage.invalid && (mileage.dirty || mileage.touched)" 
          id="mileage" name="mileage" [(ngModel)]="maintenance.mileage" required min="0" #mileage="ngModel" placeholder="102114">
        <div class="input-group-append">
          <div class="input-group-text">miles</div>
        </div>
        <div *ngIf="mileage.invalid && (mileage.dirty || mileage.touched)" class="invalid-feedback">
          <div *ngIf="mileage.errors.required">Please enter the vehicle's mileage when the maintenance was performed as a number (ex. 98645).</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="date">Date*</label>
      <input type="date" class="form-control form-control-lg" [class.is-invalid]="date.invalid && (date.dirty || date.touched)" 
        id="date" name="date" [(ngModel)]="maintenance.date" required #date="ngModel" placeholder="2/4/92">
      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="invalid-feedback">
        <div *ngIf="date.errors.required">Please enter the date when the maintenance was performed.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="receipt">Receipt</label><br />
      <input type="file" id="receipt" name="receipt" (change)="newReceiptSelected($event)" #receiptInput style="display: none"/>
      <div *ngIf="!maintenance.receipt">
        <div class="btn-group">
          <button class="btn btn-info" (click)="openReceiptDialog()" *ngIf="!uploading">Attach receipt</button>
          <div ngbDropdown class="btn-group" *ngIf="receipts?.length > 0">
            <button class="btn btn-primary dropdown-toggle" id="receiptSelect" ngbDropdownToggle>Select existing</button>
            <div ngbDropdownMenu aria-labelledby="receiptSelect">
              <button ngbDropdownItem *ngFor="let receipt of receipts" (click)="existingReceiptSelected(receipt)">{{receipt}}</button>
            </div>
          </div>
        </div>
        <ngb-progressbar type="info" [value]="uploadProgress" height="2rem" *ngIf="uploading">Uploading receipt...</ngb-progressbar>
      </div>
      <div class="alert alert-dismissible alert-info" *ngIf="maintenance.receipt">
        <button type="button" class="close" (click)="removeReceipt()">&times;</button>
        <strong>{{maintenance.receipt}}</strong> has been attached.
      </div>
    </div>
    <div class="form-group">
      <label for="interval">Interval</label>
      <div class="input-group">
          <select class="form-control form-control-lg" id="intervalMonths" name="intervalMonths" [(ngModel)]="maintenance.intervalMonths">
            <option value="undefined">Select time...</option>
            <option [value]="1">1 month</option>
            <option [value]="3">3 months</option>
            <option [value]="6">6 months</option>
            <option [value]="9">9 months</option>
            <option [value]="12">1 year</option>
            <option [value]="24">2 years</option>
          </select>
        <div class="input-group-prepend input-group-append">
          <div class="input-group-text">or</div>
        </div>
        <input type="number" class="form-control form-control-lg" [class.is-invalid]="intervalMileage.invalid && (intervalMileage.dirty || intervalMileage.touched)" 
        id="intervalMileage" name="intervalMileage" [(ngModel)]="maintenance.intervalMileage" #intervalMileage="ngModel" placeholder="10000">
        <div class="input-group-append">
          <div class="input-group-text">miles</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control form-control-lg" id="notes" name="notes" [(ngModel)]="maintenance.notes" rows="3"></textarea>
    </div>
    <button (click)="add()" class="btn btn-primary" [disabled]="item.invalid || mileage.invalid || date.invalid || uploading">Submit</button>
    <button (click)="addAndContinue()" class="btn" [disabled]="item.invalid || mileage.invalid || date.invalid || uploading" title="Submit, then stay on this page to record more maintenance for this vehicle">
      Submit, and record more
    </button>
    <a routerLink="/vehicle/{{vehicle?.id}}" class="btn">Cancel</a>
  </form>