<div class="jumbotron">
  <h1 class="display-3">Keep track of your maintenance</h1>
  <p class="lead">
    Stay on top of your regular maintenance intervals to keep your car in tip-top shape. Organize your receipts and
    notes to streamline repairs. Wow future buyers with complete maintenance history.
  </p>
  <hr class="my-4">
  <p>
    Maybe sometime in the future we can even help you find the parts and consumables you need.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/fleet">Get started</a>
  </p>
</div>