<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <h5 class="card-title">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="btn-group">
      <button class="btn btn-secondary">
        <i class="fa fa-plus"></i>   
      </button>
      <button class="btn btn-secondary">
        <i class="fa fa-edit"></i>   
      </button>
      <button class="btn btn-secondary">
        <i class="fa fa-trash"></i>   
      </button>
      <button class="btn btn-secondary">
        <i class="fa fa-share"></i>   
      </button>
    </div>
  </div>
</div>